.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  max-width: 1200px;
  margin: auto;
}

.button{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  padding: 8px;
  border: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.brown-btn{
  background-color: #756157;
}

.blue-btn{
  background-color: #82b2d3;
}

.gray-btn{
  background-color: #f2f2f2;
  color: black;
  cursor: default;
}

.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.subscribe-section{
  background-image: url("../images/subscribe-back.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 415px;
  color: #ffffff;
}

.subscribe-section>div{
  padding: 96px 0 54px;
}

.navigation{
  display: flex;
  height: 64px;
  justify-content: space-between;
  margin: 0 70px;
}

.navigation-list{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  margin: 0;
}

.navigation-item{
  padding: 20px 16px;
}

.navigation-list a{
  text-decoration: none;
  color: black;
}

.navigation-list a.button{
  color: #ffffff;
  padding-left: 34px;
  padding-right: 34px;
}

.main-header-logo {
  padding: 0 0 6px 0;
}

.main{
  text-align: center;
}

.main-content{
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 485px;
  /*height: 565px;*/
}

.main-content>.welcome{
  padding: 51px 0 25px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-header{
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 261px;
  padding-top: 57px;
}

.welcome-header > h1{
  /*
  width: 620px;
  height: 72px;*/
  padding: 61px 0 25px;
}

.section-title{
  margin: auto;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.welcome-header>p{
  font-size: 22px;
  line-height: 26px;
}

.list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

/*.advantages-list*/
.list li
{
  /*grid-template-rows: 385px 385px 385px;*/
  height: 385px;
  align-content: center;
}

.list li:nth-child(odd){
  background-color: #83b3d31f;
}

.list li:nth-child(even){
  background-color: #83b3d333;
}

.advantages-list advantage-special{
  background-color: #82b3d3;
  color: #ffffff;
}

.advantage-1{
  display: flex;
  grid-column: span 3;
}

.list .advantage-picture{
  margin: 0;
  display: block;
  width: 66.7%;
}

.list div{
  width: 245px;
  margin: auto;
  font-size: 18px;
  line-height: 21px;
}

.list h3{
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages-list hr{
  width: 60px;
  color: #0000004d;
}

.invitation-block{
  height: 246px;
  align-content: center;
}

/*
.invitation-block :first-child {
  padding-bottom: 25px;
}*/
.suggestion-list h3{
  background-position: top;
  padding-top: 105px;
}

.nav-search{
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
}

.nav-favorite{
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
}

.sedona-advantages .house{
  background-image: url('../images/advantage-icon/house.svg');
  background-repeat: no-repeat;
  background-size: 72px 75px ;
  /*padding-top: 80px;*/
}

.sedona-advantages .food{
  background-image: url('../images/advantage-icon/food.svg');
  background-repeat: no-repeat;
  background-size: 70px 74px ;
  /*padding-top: 80px;*/
}

.sedona-advantages .present{
  background-image: url('../images/advantage-icon/present.svg');
  background-repeat: no-repeat;
  background-size: 76px 64px ;
  /*padding-top: 80px;*/
}

.hotel-search-block{
  height: 406px;
}

.hotel-search-block .button,
.subscribe-section .button
{
  padding-inline: 50px;
  font-size: 20px;
}

.hotel-search-block >div{
  padding: 96px 0 54px;
}

.main-footer{
  height: 120px;
}

.main-footer .navigation{
  padding-top: 40px;
}

.main-footer ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 142px;
  margin: 0;
}

.main-footer li {
  width: 100%;
}

.main-footer li a{
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.phone-number-footer{
  color: black;
  text-decoration: none;
  font-size: 40px;
}

.main-footer .vk{
  background-image: url('../images/vk-icon.svg');
}

.main-footer .telegram{
  background-image: url('../images/telegam-icon.svg');
}

.main-footer .youtube{
  background-image: url('../images/youtube-icon.svg');
}

/*catalog*/

.catalog-header{
  background-image: url("../images/catalog-back.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-header h1{
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.catalog-header h2{
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.catalog-header>div{
  padding: 35px 70px 70px;
}

.catalog-header ul{
  list-style: none;
}

.catalog-filter-header .menu-home {
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
  font-size: 16px;
  margin-top: 8px;
}

.catalog-filter-left{
  display: flex;
  font-size: 18px;
}

.catalog-sorting{
  padding: 50px 70px 40px;
  display: flex;
  justify-content: space-between;
}

.catalog-sorting ul{
  list-style: none;
  display: flex;
}

.catalog-sorting .section-title{
  margin: 0;
}

.catalog-body{
  padding: 0 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;

}

.catalog-item{
  border: #e6e6e6 1px solid;
  border-radius: 4px;
  padding: 20px;
}

.catalog-item>div{
  margin: auto;
}

.catalog-item-limbs{
  display: grid;
  grid-template-columns: 1fr  1fr;
}

.catalog-item-limbs span{
  font-size: 18px;
}

.catalog-item-limbs .button{
  font-size: 16px;
}

.btn-view{
  border: #d3d3d3 1px solid;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn-view-list{
  background: url(../images/view-list.svg) no-repeat;
}

.btn-view-card{
  background: url(../images/view-card.svg) no-repeat;
}

.btn-view-list{
  background: url(../images/view-list.svg) no-repeat;
}

.catalog-view-selected{
  border: black solid 1px;
}

.catalog-item h4{
  font-size: 24px;
  padding: 16px 0;
  margin: 0;
}

.catalog-pages ul{
  display: flex;
  list-style: none;
}

/* Общие правила
Сбрасывайте браузерные стили по умолчанию.
Задавайте текстовым элементам нижний отступ.
Не забывайте сбрасывать отступ у последнего элемента.
Изображениям, с помощью класса, изменяйте блочную модель */
